* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121613;
  font-family: 'Baloo', cursive;
  color: #fff;
  min-height: 100vh;
}

.password-form {
  width: 420px;
  margin: 8% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, #363636, #181818);
  background-position: center;
  backdrop-filter: blur(10px);
}

.inputsPasswordUpdate .icon {
  position: absolute;
  margin-top: 12.5px;
  right: 85px;
  font-size: 12px;
}